<ion-view view-title="Suas atividades">
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <input type="date" placeholder="Data">
                </label>
                <label class="item item-input">
                    <input type="time" placeholder="Hora">
                </label>
                <ion-toggle ng-show="true" ng-model="airplaneMode" toggle-class="toggle-calm">Notificação</ion-toggle>
                <a class="ion-plus-circled"></a>
            </div>
        </ion-content>
    </ion-view>