<ion-view view-title="Configuração">
  <ion-content>
    <ion-list>

      <div class="list">
          <div class="item item-divider">
              Aplicativo
            </div>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-gear"></i>
          Definições
        </a>
      
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-help-circled"></i>
          Ajuda 
          <i class=></i>
        </a>
        
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-chatboxes"></i>
            Enviar opnião
            <i class=></i>
          </a>

        
     
          <div class="item item-divider">
              Convidar amigos
            </div>
          
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-social-facebook"></i>
                Compartilhar no Facebook
                <i class=></i>
              </a>

              <a class="item item-icon-left item-icon-right" href="#">
                  <i class="icon ion-email"></i>
                  Enviar e-mail para amigos
                  <i class=></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                    <i class="icon ion-star"></i>
                    Classificar na App Store
                    <i class=></i>
                  </a>

      
      </div>
    </ion-list>
  </ion-content>
</ion-view>
