
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Aba Início -->
  <ion-tab title="Início" icon-off="ion-ios-home-outline" icon-on="ion-home" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Aba Atividade -->
  <ion-tab title="Atividades" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/tab/lista">
    <ion-nav-view name="tab-lista"></ion-nav-view>
  </ion-tab>

  <!-- Aba Gerenciar -->
  <ion-tab title="Gerenciar" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/editar">
    <ion-nav-view name="tab-editar"></ion-nav-view>
  </ion-tab>

  <!-- Aba Configuração -->
  <ion-tab title="Configuração" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/configurar">
    <ion-nav-view name="tab-configurar"></ion-nav-view>
  </ion-tab>

</ion-tabs>
